<div class="container">
 <%= render "shared/carosel" %>
 <%= render "shared/new_products" %>
 <%= render "shared/feature_products" %>
</div>      
      
                             		                                		