<div class="hero-unit">
<% @products.each do |product| %>
	<div class="row">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail img-responsive">
			<%= image_tag product.images.first.image.url(:ios_profile) unless product.images.blank?  %>
		  </a>
		</div>
	</div>	  	
<% end %>          
</div>
