<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
<% @products.each do |product| %>
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
<div style="float:left;width:300px">
 <h5><%= product.name %></h5> 
 <p><%= image_tag product.images.first.image.url(:thumb) unless product.images.blank?  %> </p>
 <%# product.images.each do |image| %>
	<!-- <div class="span3">
	<h2></h2>
	  <p><%#= image_tag image.image.url(:thumb) %> </p>
	  <p><a class="btn" href="#">View details »</a></p>
	</div><!--/span--> 
 <%# end %>	
 </div>
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
<% end %>          
</div>