<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row-fluid">
<% @products.each do |product| %>
<div class="span3">
<h2><%= product.name %></h2>
  <p><%= image_tag product.image.url(:ios_profile) %> </p>
  <p><a class="btn" href="#">View details »</a></p>
</div><!--/span-->
<% end %>          
</div> 
