<div class="container">
	<div class="hero-unit">
	<% @products.each do |product| %>
		<div class="row">
	        <div class="col-xs-6 col-md-2">
	          <a href="#" class="thumbnail img-responsive">
	            <%= image_tag product.images.first.image.url(:ios_profile) unless product.images.blank?  %>
	          </a>
	        <p class="text-left"><a href="#">Add to Bag</a></p>
			</div>
		</div>
	<% end %>
    </div>
</div>

