<div class="container">
<div class="hero-unit">
<a href="#" class="img-thumbnail">
    <%= image_tag @product.images.first.image.url(:ios_profile) unless @product.images.blank?  %>
</a>
<p>&nbsp;</p>
<p><strong><%=@product.name%></strong></p>
<p>&nbsp;</p>
<p><strong><%=@product.price%></strong></p>
<p>&nbsp;</p>     
<p><button type="button" class="btn btn-primary">Add to Bag</button></p>     
</div>
</div>      

      

